<!DOCTYPE html>

{% load bootstrap3 %}
{%load staticfiles%}

<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title> Ajax Demo</title>
        <link href="{%static 'css/iao-alert.css'%}" rel="stylesheet"/>
        <script src="{%static 'js/jquery.min.js'%}"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="{%static 'css/styles.css'%}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <script src="{%static 'js/javas.js'%}"></script>
    <script src="{%static 'js/iao-alert.jquery.js'%}"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href="{%static 'css/dcalendar.picker.css'%}" rel="stylesheet"/>
    <script src="{%static 'js/dcalendar.picker.js'%}"></script>

    <script>
$(function(){
    $('#id_emp_dob').dcalendarpicker({
      format: 'yyyy-mm-dd'}

    );
    });
</script>
 </head>
<body>

{%if form%}
<div class="col-sm-3"></div>
<div class="col-sm-6">

<h2 class="text-center page-header text-danger">Welcome to Ajax Tutorial</h2>
{{form.as_p}}
<button id="emp_add" class="btn btn-danger btn-md">Add Employee</button>

    {%if empx%}
    <div class="bg-danger" id="emplist">
    <h3 class="text-success text-center page-header">List of Employees</h3>
        <table class="table table-striped table-hover table-bordered table-condensed">
        <tr><th class='info'>S.N.</th><th class='info'>Name</th><th class='info'>Email</th><th class='info'>D.O.B.</th><th class='info' colspan='2'>Actions</th></tr>
        {%for employee in empx%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{employee.emp_name}}</td>
                <td>{{employee.emp_email}}</td>
                <td>{{employee.emp_dob}}</td>
                <td class='success'><button onClick='del({{employee.id}})'>Delete</button></td>
                <td class='success'><button name='editbtn' onClick='edit({{employee.id}})'>Edit</button></td>
            </tr>

        {%endfor%}
            </table>

    </div>


    {%else%}
    <div class="bg-danger" id="emplist"></div>
    {%endif%}


</div>
<div class="col-sm-3"></div>

{%endif%}
</body>
</html>